<?xml version="1.0"?>
<launch>
 <param name="robot_description" textfile="$(find vehicle_base)/util/vehicle.urdf" />
 <param name="robot_description_semantic" textfile="$(find vehicle_base)/util/vehicle.srdf"/>

 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>
 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true"/>
</launch>
